@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&display=swap');

:root {
  --light-sky-blue: #1091Ef;
  --dark-sky-blue: #0478eb;
  --light-gray: #f4f4f4;
  --dark-gray: #222222;
  --light-orange: #ff7f22;
  --dark-blue: #0A2540;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 7000px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.6;
}

/* Utility Classes */
.container {
  max-width: 1200px;
  margin: auto;
}

.btn {
  display: inline-block;
  padding: 10px 25px;
  font-weight: 500;
  border-radius: 25px;
}

.btn-primary {
  background-color: var(--light-orange);
  color: #fff;
  border: 2px solid var(--light-orange);
  transition: all 0.3s ease;
}

.btn-secondary {
  background-color: var(--light-sky-blue);
  color: #fff;
  border: 2px solid var(--light-sky-blue);
  transition: all 0.3s ease;
}

.btn-secondary:hover {
  background-color: var(--dark-sky-blue);
}

.btn-primary:hover {
  background: transparent;
  color: var(--light-orange);
}

.active {
  border-bottom: 2px solid var(--light-orange);
  padding-bottom: 5px;
}

.text-primary {
  color: var(--light-orange);
}

.text-secondary {
  color: var(--light-sky-blue);
}

/* Header Start */
/* Navbar */
#home {
  height: 95vh;
  background-image: linear-gradient(to right, var(--dark-blue) 50%, #173f67);
}

#home nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 110px;
}

#home nav img {
  max-width: 250px;
}

#home nav ul {
  display: flex;
}

#home nav ul li:not(:last-child) a {
  margin: 0 15px;
  color: #fff;
  font-weight: 500;
  transition: all 0.3s ease;
}

#home nav ul li:not(:last-child) a:hover {
  padding-bottom: 5px;
  border-bottom: 2px solid var(--light-orange);
}

#home nav ul li:last-child a {
  display: inline;
  margin-left: 15px;
}

/* Header Content */
#home .header-content .row {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  align-items: center;
  height: calc(95vh - 110px);
}

#home .header-content .row .col h1 {
  font-size: 75px;
  font-weight: 600;
  color: #fff;
}

#home .header-content .row .col p {
  font-size: 32px;
  color: #fff;
  margin: 2rem 0 4rem;
}

#home .header-content .row .col>a {
  font-size: 18px;
  font-weight: 500;
}

#home .header-content .row .col>a:hover {
  background: transparent;
}

#home .header-content .row .col a:last-child {
  color: var(--light-sky-blue);
  margin-left: 30px;
  padding-bottom: 8px;
  border-bottom: 2px solid var(--light-sky-blue);
}

/* Header End */

/* Clients Start */
#clients {
  padding: 3rem 0;
  background-color: var(--light-gray);
}

#clients h2 {
  font-size: 20px;
  text-align: center;
  font-weight: 500;
  margin-bottom: 1rem;
  color: var(--dark-gray);
}

#clients .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#clients .row img {
  width: 100%;
}

/* Clients End */

/* Services Start */
#services,
#experience,
#help,
#projects,
#work {
  padding: 7rem 0;
}

#services h2,
#experience h2,
#projects h2,
#work h2 {
  font-size: 46px;
  font-weight: 600;
  text-align: center;
  color: var(--dark-gray);
}

#services .container>p,
#experience .container>p,
#projects>p,
#work .container>p {
  color: var(--light-sky-blue);
  font-size: 20px;
  margin: 20px 0 50px;
  text-align: center;
}

#services .row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
  text-align: center;
}

#services .row img {
  width: 90%;
}

#services .row h3 {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 20px;
  color: var(--dark-gray);
}

#services .row p {
  margin-bottom: 3rem;
  color: #545559;
}

#services .row a {
  font-size: 14px;
}

/* Services End */
/* Experiance Start */
#experience,
#work {
  background-color: var(--light-gray);
}

#experience .row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  margin-top: 5rem;
}

#experience .row i {
  font-size: 30px;
  color: var(--light-sky-blue);
}

#experience .row h3 {
  font-size: 22px;
  font-weight: 500;
  margin: 1.5rem 0;
}

#experience .row .col-3 {
  background-color: #fff;
  grid-column-start: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

#experience .row .col-3 .col-content {
  text-align: center;
  padding: 3rem;
}

#experience .row .col-3 .col-content h4 {
  font-size: 20px;
  font-weight: 500;
}

#experience .row .col-3 .col-content p {
  color: var(--light-sky-blue);
  margin: 10px 0;
  font-size: 18px;
}

#experience .row .col-3 img {
  width: 100%;
}

/* Experiance End */

/* Help Start */
#help {
  /* background-image: linear-gradient(#0478eb, #39a6f3); */
  background-color: var(--dark-sky-blue);
  color: #fff;
  text-align: center;
}

#help h2 {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 3rem;
}

#help p {
  display: inline;
  font-size: 28px;
  vertical-align: middle;
  margin-right: 1rem;
  font-weight: 600;
}

#help p span {
  font-size: 22px;
  margin-right: 10px;
}

/* Help End */

/* Projects Start */

#projects {
  text-align: center;
}

#projects .row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

#projects .row .col .col-content {
  background-color: #fff;
  padding: 2rem;
  max-width: 80%;
  margin: auto;
  transform: translateY(-50%);
}

#projects .row .col .col-content h3 {
  font-weight: 500;
  margin-bottom: 15px;
}

#projects .row .col .col-content p {
  font-size: 14px;
}

#projects .row img {
  width: 100%;
  cursor: pointer;
  transition: all 0.3s ease;
}

#projects .row img:hover {
  filter: brightness(0.5);
}

/* Projects End */

/* Work Start */
#work .row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

#work .row .col:not(:nth-child(3), :nth-child(4)) {
  background-color: #fff;
  padding: 2rem;
}

#work .row .col span {
  font-size: 35px;
  font-weight: 600;
}

#work .row .col h3 {
  font-size: 20px;
  margin: 1rem 0;
  font-weight: 500;
}

#work .row img {
  width: 100%;
}

/* Work End */