@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&display=swap');

:root {
  --light-blue: #1091Ef;
  --light-gray: #545559;
  --dark-gray: #222222;
  --light-orange: #ff7f22;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}